apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml

images:
  - name: sample-node-image
    newName: 838746098519.dkr.ecr.ap-south-1.amazonaws.com/sample-node-app
    newTag: 276005bec8f20d1e6c784cf780fa609d6a33ad79